* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-size: 16px;
  font-family: "Open_Sans variant0";
  font-weight: 400;
}
h2 {
  font-family: "Raleway variant0";
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
a {
  text-decoration: none;
  color: gray;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-left {
  height: 1rem;
  width: 1rem;
}

.nav-right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 10px;
  padding: 10px;
}

.content {
  display: flex;
  width: 100%;
  color: hsl(243, 87%, 12%);
}

.text-right {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.input {
  width: 300px;
  height: 40px;
}

.btn {
  width: 150px;
  height: 40px;
}

.img-container {
  width: 50%;
}
.img-container img {
  height: 300px;
  width: 100%;
}

.bg-curve {
  width: 100%;
}

.gray-content {
  background-color: hsl(240, 75%, 98%);

  height: 600px;
}

.body-text {
  width: 65%;
}

.ill-container {
  width: 45%;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.illustration {
  padding: 20px;
  width: 100%;
}

.paragraph {
  width: 80%;
}

.founder {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 60%;
  height: 300px;
}

.fylo {
  text-decoration: underline;
  color: hsl(170, 45%, 43%);
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.avatar-div {
  display: flex;
}

.img-div {
  padding: 10px;
}
.text-div {
  padding-top: 10px;
  justify-content: center;
  text-align: justify;
}

.registration {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 220px;
  gap: 10%;
  padding: 20px;
  background-color: hsl(238, 22%, 44%);
  color: white;
}
.registration-input {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.registration-btn {
  width: 200px;
  height: 40px;
}
.right-div {
  width: 45%;
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;

  height: 100%;
  padding: 20px;
}

.logo-div {
  display: flex;
  width: 100%;
  height: 60%;

  justify-content: center;
}
ul {
  list-style-type: none;
}

.about-div {
  display: flex;
  width: 20%;
}

.contact-div {
  display: flex;
  width: 20%;
}

.icon-div {
  display: flex;
  width: 25%;
}

.nav-item {
  list-style-type: none;
}

.last-div {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 40%;
}
.img-con {
  height: 10px;
  width: 15px;
  float: left;
}

.phone-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.email-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.footer-div {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.footer {
  width: 100%;
  height: 250px;
  color: white;
  background-color: hsl(243, 87%, 12%);
  padding: 20px;
}

.footer-img {
  filter: brightness(0) invert(1);
}

.social-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
  }
  .header {
    width: 375px;
    padding: 10px;
  }
  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .fylo-img {
    width: 100px;
    height: 20px;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .img-container {
    width: 100%;
  }
  .text-right {
    width: auto;
    text-align: center;
  }
  .text-right p {
    padding: 10px;
  }

  .input {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    width: 100%;
  }

  .ill-container {
    width: 100%;
    padding-bottom: 20px;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .body-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: start;
    margin-bottom: 80px;
  }
  .body-text h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .paragraph {
    width: 100%;
    padding: 0 20px 20px;
  }

  .fylo {
    display: grid;
    place-content: center;
    margin: 0;
  }
  .founder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    padding: 0;
    margin: 0;
    height: 50%;
  }

  .img-founder {
    display: flex;
  }

  .quotes {
    margin: 0;
    padding: 0;
    text-align: start;
    font-size: 0.8em;
    height: 70%;
  }

  .avatar-div {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    margin: 0;
    height: 15%;
    width: 100%;
  }
  .img-div {
    height: 100%;
    width: 20%;
    padding: 0;
    margin: 0;
  }
  .avatar {
    justify-content: center;
    height: 40px;
    width: 40px;
  }
  .text-div {
    padding: 0;
    margin: 0;
  }
  .text-div p {
    font-size: 0.8em;
    margin: 0;
  }
  h4 {
    font-size: 1rem;
  }

  .registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px 10px;
    margin: 10px;
    text-align: center;
    height: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .left-div {
    height: 45%;
    width: 100%;
    gap: 5px;
    padding: 10px;
    margin: 0;
  }
  .registration-input,
  .registration-btn {
    width: 80%;
    height: 40px;
    margin-left: 30px;
  }
  .right-div {
    height: 55%;
    width: 100%;
    gap: 5px;
    padding: 10px;
    margin: 0;
  }

  .right-div p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 700px;
  }

  .last-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    padding-left: 40px;
  }
  .logo-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
  }

  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 0;
    padding-left: 40px;
    margin: 0;
  }
  .footer-div p {
    padding: 0;
    margin: 0;
  }
  .about-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    gap: 10px;
  }

  .about-div li,
  .contact-div li {
    padding: 10px;
  }
  .contact-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .social-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
  }
}
